<table id="example2" class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>No.</th>
        <th>Nama</th>
        <th>Kategori</th>
        <th>Nominal</th>
        <th>Status</th>
        <th>Aksi</th>
      </tr>
    </thead>
    <tbody>
      <% for(let i= 0; i < voucher.length; i++){%>
      <tr>
        <td><%= i+1 %></td>
        <td><%= voucher[i].name %></td>
        <td><%= voucher[i]?.category?.name??'-' %></td>
        <td>
          <% voucher[i].nominals.forEach(nominal=>{ %>
          <span class="badge badge-info badge-pill"><%= nominal.coinName %></span>
          <% }) %>
        </td>
        <td>
          <% if(voucher[i].status == 'Y'){ %>
          <span class="badge badge-info">Aktif</span>
          <% }else{ %>
          <span class="badge badge-danger">Nonaktif</span>
          <% } %>
        </td>
        <td>
          <form style="display: inline-block" action="/voucher/status/<%= voucher[i]._id %>?_method=PUT" method="post">
            <button class="<%= (voucher[i].status == 'Y')? 'btn btn-info btn-sm':'btn btn-danger btn-sm' %>">
              <% if(voucher[i].status == 'Y'){ %> Matikan <% }else{ %> Hidupkan <% } %>
            </button>
          </form>
          <form style="display: inline-block" action="/voucher/delete/<%= voucher[i]._id %>?_method=DELETE" method="post">
            <a href="/voucher/edit/<%= voucher[i]._id %>" class="btn btn-warning btn-sm"><i class="fas fa-pencil-alt"></i> ubah</a>
            <button class="btn btn-danger btn-sm"><i class="fas fa-trash"></i> hapus</button>
          </form>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
  