<%-include ../../partials/header.ejs %>
<%-include ../../partials/navbar.ejs %>
<%-include ../../partials/sidebar.ejs %>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Nominal</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
              <li class="breadcrumb-item"><a href="/nominal">Nominal</a></li>
              <li class="breadcrumb-item active">Edit Nominal</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Form edit nominal</h3>
                  </div>
                  <!-- /.card-header -->
                  <!-- form start -->
                  <form action="/nominal/edit/<%= nominal._id %>?_method=PUT" method="post">
                    <div class="card-body">
                      <div class="form-group">
                          <label>Nama koin</label>
                          <select name="coinName" class="form-control select2" style="width: 100%;" required>
                            <option value="gold" <%= (nominal.coinName === "gold")?"selected":'' %> >Gold</option>
                            <option value="diamond" <%= (nominal.coinName === "diamond")?"selected":'' %>>Diamond</option>
                            <option value="jewel" <%= (nominal.coinName === "jewel")?"selected":'' %> >Jewel</option>
                          </select>
                      </div>
                      <div class="form-group">
                        <label for="coinQuantity">Jumlah koin</label>
                        <input type="number" name="coinQuantity" value="<%= nominal.coinQuantity %>" class="form-control" id="coinQuantity" placeholder="Jumlah koin">
                      </div>
                      <div class="form-group">
                          <label for="price">Harga</label>
                          <input type="number" name="price" value="<%= nominal.price %>" class="form-control" id="price" placeholder="Harga">
                      </div>
                    </div>
                    <!-- /.card-body -->
    
                    <div class="card-footer">
                      <button type="submit" class="btn btn-primary">Simpan</button>
                    </div>
                  </form>
            </div>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<%-include ../../partials/footer.ejs %>
<%-include ../../partials/js.ejs %>